<div class="form">
  <form [formGroup]="inputForm">
    <p style="text-align: center;margin-left: 32px;"> Curcency-Convertor</p>
    <div class="form-group col-md-11" style="margin-left: 15px;">
      <label>Value</label>
      <input formControlName="amount" id="amount" class="form-control" >
    </div>
    <div class="form-group col-md-11" style="margin-left: 15px">
      <label>FROM Curcency</label>
      <select formControlName="fromCurrency" id="fromCurrency" class="form-control" >
        <option *ngFor="let ind of currency" [value]="ind.value">{{ind.id}}</option>
      </select>
    </div>
    <div class="form-group col-md-11" style="margin-left: 15px">
      <label>TO Curcency</label>
      <select formControlName="toCurrency" id="toCurrency" class="form-control" >
        <option *ngFor="let ind of currency" [value]="ind.value" >{{ind.id}}</option>
      </select>
    </div>
    <div>
      <button class="btn btn-primary" (click)="submitButton()" style="margin-left: 15px;margin-top: 10px;" id="submitButton" color="primary" type="submit">
        CLICK ME
      </button>
    </div>
    <div id="result"class="form-group col-md-11" style="margin-left: 15px;">
      <p id="resValue" style="text-align: center;margin-left: 0px;">{{inputForm.value.resValue }}</p>
    </div>
  </form>
</div>